{
    "overrides": [
        {
            "files": "*.js",
            "options": {
                "arrowParens": "always",
                "jsxBracketSameLine": true,
                "tabWidth": 2,
                "singleQuote": true,
                "bracketSpacing": true,
                "printWidth": 120
            }
        }
    ]
}